<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<p>
  Previously, I managed a private medical clinic. I created a website for the clinic using Wordpress. I soon discovered certain limitations within the platform. That was the start of my fascination with web development, and I have been engrossed since.
</p>