<% provide(:title, 'About Me') %>
<div class="center hero-unit">
<h1>About Me</h1>
<p>
  I apologize as I am aware that a lot of the links and buttons do not work on my blog site. That is because I am developing the site as I learn, in hopes that eventually my blog site will get to production level. Thank you for sticking with me during these times, and maybe it will be interesting to you to see how this website develops over time.
</p>
</div>
