<div class="center hero-unit">
  <h1>Welcome to Jerm Disorder</h1>

  <h2>the ongoing blog of an aspiring developer</h2>

  <%= link_to "Get started!", posts_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
