<h1><%= link_to post.title, post %></h1>
<p>
  <%= truncate(strip_tags(post.content), length: 350) %>
  <% if admin? %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div><br />
  <% end %>
</p>