<div class="center">
  <% if admin? %>
    <%= link_to 'New blog post', new_post_path, class: "btn btn-large" %>
  <% end %>
</div><br />

<%= will_paginate %>

<ul class="users">
  <%= render @posts %>
</ul>

<%= will_paginate %>