<div class="center">
  <% if admin? %>
    <%= link_to 'New blog post', new_post_path, class: "btn btn-large" %>
  <% end %>
</div><br />

<%= render @posts %>
<%= page_entries_info @posts %>
<%= will_paginate @posts, page_links: false %>
