<h2> Search </h2>
<div class="center">
  <%= form_tag posts_path, method: 'get' do %>
  <%= text_field_tag :search, params[:search], class: "span3", 
  					 placeholder: "Search for a blog post by title or content" %>
  <% end %>
</div>

<h2> Categories </h2>
<li> Web Development </li>
<li> X-TREME SPORTS! </li>
<li> Basketball </li>
<h2> Recent Posts </h2>
<li> links of </li>
<li> recent posts </li>
<h2> Recent Comments </h2>
<li> links of recent </li>
<li> comments </li>
<h2> Archives </h2>
<li> March </li>
<li> February </li>
<li> January </li>
<li> December </li>
